body {
    background-color: white;
}

.weather {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 15px;
}

.hidden {
    display: none;
}

.will {
    position: absolute;
    bottom: 8px;
    font-size: 20px;
    color: beige;
    left: 50%;
    transform: translate(-50%, 0%);
}
